SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=srikrishnathaniya@gmail.com
SMTP_PASS=jbazinfgjcuzxile
FRONTEND_URL=https://task-flow-frontend-jqz5fvqum.vercel.app
CORS_ORIGIN=https://task-flow-frontend-jqz5fvqum.vercel.app
